extends layout

block content
  h1= title
  p Welcome to #{title}
    form(action="/form" method="POST")
      input(type="text" name="nom" placeholder="nom")
      br
      input(type="text" name="prenom" placeholder="prénom")
      br
      input(type="number" name="age" placeholder="age")
      br
      input(type="email" name="email" placeholder="email")
      br
      input(type="submit" name="sub" value="envoyer")